{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "standard-react",
    "plugin:jest/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": [
    "react",
    "import",
    "jest",
    "react-hooks",
    "cypress"
  ],
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "navigator": true,
    "fetch": true,
    "document": true,
    "cy": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-fragments": "off",
    "react/jsx-props-no-spreading": "off",
    "jest/expect-expect": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
